body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.header {
  grid-column: span 2;
}

span {
  color:blueviolet;
}

.card > img {
  float:left;
  width: 350px;
  margin: 30px;
}

h1 {
  font-size: 5rem;
}

footer {
  display: block;
  margin-top: 40px;
  text-align: right;
  color: midnightblue;
}

@media (max-width: 700px) {

  h1{
  font-size: 2rem;
  }

  .card > img {
    width: 400px;
    margin: 10px;
  }

  p, h2 {
    clear: both;
  }

  .main {
    display: block;
  }
}

